#root{
    height: 100%;
    width: 100%;
    padding: 0;
}

.all-products{
    color: white;
    margin: 0 auto;
}

.all-products .grid{
    padding: 3rem;
    /* background-color: rgb(247, 245, 245); */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
}
