.card  {
    position: relative;
    z-index: 0;
    color: black;
}
.card .img-container{
    height: 230px;
    /* width: 230px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}



.card > .img-container > img{
    width: 100%;
    height: 100%;   
    margin: auto;
}

.card p{
    height: 80px;
}
.card > img{
    height: 22px;
    
}
.card > p{
    color: black;
    margin:  auto;
    margin-top: 1rem;
}
