.welcome-heading{
    font-size: calc(2rem + 1vw);
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home p {
    font-size: calc(0.6rem + 1vw);
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.home span {
    font-size: calc(1rem + 1vw);
    color: var(--turqo);
}
.home-image-slider{
    height: 300px;
    margin: 0 auto;
    position: relative;
    display: grid;
    place-items: center;
    width: 90vw;
    overflow: hidden;
}
.home-image-slider::before{
    position: absolute;
    width: 150px;
    left: 0;
    height: 200px;
    background: linear-gradient(to right, rgb(255, 255, 255) 30% , transparent );
    content: "";
    z-index: 2;

}
.home-image-slider::after {
    position: absolute;
    width: 150px;
    right: 0;
    height: 200px;
    background: linear-gradient(to left, rgb(255, 255, 255) 30% , transparent );
    content: "";
    z-index: 2;
}

.home-image-slider-track{   
    display: flex;
    animation: scroll 25s linear infinite  ;
    width: 100%;    
}
.home-image-slider-track:hover{
    animation-play-state: paused;
}
.slide{
    height: 200px;
    margin: 0 10px;
    width: 200px;
    display: flex;
    animation: 0.3s all ease-in ;
    perspective: 100px;
}
.slide img{
    width: 100%;
    height: 200px;
    transition: 0.3s all ease-in-out;
    z-index: 200;
}
.slide img:hover{
    transform: translateZ(10px);
}
@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100%{
        transform: translate(-2250px);
    }                                               
}
