.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.justify-right{
    justify-content: right;
}
.reverse-character{
    transform: rotate(-180deg);
}
.opacity{
    opacity: 1;
}
.not-opacity{
    opacity: none;
}