*{
  margin: 0 ;
  padding:0 ; 
  --primary : #1b4887;
  box-sizing: border-box;
}

#root{
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.btn{
  font-weight: 500;
  padding : 1rem ;
  margin: 0 auto ;
  width: 50%;
  transition: all 0.3s ease ;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
  background-color: var(--primary);
  color: white;
  box-shadow: 0.1rem 0.1rem 0.5rem black ;
}

header{
  display: flex;
  align-items: center;
  background-color: var(--primary);
  padding : 1rem ;
  margin : 1.5rem auto ;
  width: 90%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows:  auto;
  margin : 1.5rem auto ;
  width: 90%;
  gap: 1.5rem;
  @media only screen and (max-width: 1100px) {
    grid-template-columns: auto ;
    grid-template-rows: repeat(4, auto) ;
  }
}

.personal_details,.qualifications{
  background-color: var(--primary);
  font-size: 1.5rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 1rem 2rem 5rem #0000000f;
  gap: 1rem;
  padding: 1.5rem;
  padding-bottom: 2rem;
  align-items: center;
  border-radius: 5px;
  margin: 0px;

}

.pd_line{
  height : 2px;
  width: 100%;
  background-color: rgb(255, 251, 251);
}

.personal_details > *{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
input {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 300;
  letter-spacing: 0.09rem;
  padding: 0.2rem;
  border: 1px solid #1b4887;
  border-radius: 5px;
  background-color: rgb(219, 217, 217);
}
input:hover {
  border-color: rgb(184, 116, 116);
  cursor: pointer;
}

.qualifications{
  grid-column : 1/2 ;
}

ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: column;
}
.qualification_detail{
  width: 100%; 
  display: flex;
  flex-direction: column;
}
.qualification_course_and_university::first-line{
  color: rgb(0, 0, 0); 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add_qualification_form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add_qualification,.cancel_qualification{
  margin-top: 1rem;
  font-weight: 600;
  border: 2px solid black;
  background-color: rgb(202, 151, 192);
}

.label{
  display: flex;
  justify-content: space-between;
}